
p
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;

  }
h1>h2
{
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Righteous', cursive;
    font-size: 2em;
}
/*menu*/
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: rgb(247, 158, 158);
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: rgb(204, 131, 131);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/*menufin*/
.banniere{
    background-image: url('/image/Banniere-site-flou.png');
    min-height: 400px; 
    margin-left: -50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banniere h2 {
    color: white;
    display: flex;
    justify-content: center;
    font-family:'Righteous', cursive;
  } 
  .banniere h3 {
    color: white;
    display: flex;
    justify-content: center;
    font-family:'Righteous', cursive;
  }