*{
    box-sizing: border-box;
}
p
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;

  }
img {
    max-width: 100%;
}
h1>h2
{
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Righteous', cursive;
    font-size: 2em;
}

body {
    margin: 0;
}
/*menu*/

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #ff6666;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #ff6666;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/*menufin*/
.banniere{
    background-image: url('/image/Banniere-site-flou.png');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banniere h2 {
    color: white;
    font-family:'Righteous', cursive;
  } 
  .banniere h3 {
    color: white;
    font-family:'Righteous', cursive;
  }
  /***************about-*******/
  /*#about{

  }
  .image{
      
    
  }*/
  .trait{
    background-color: orange;
    width: 15%;
    height: 2pt;
  
  }
  .resume{
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  
  .col>h3{
      text-align: center;
  }
  .text{
padding-right: 20px;
padding-left: 20px ;

  }
  .cv{
      color: white;
      background: #ff6666;
      padding: 8px 5px; 
      text-decoration: none;
      text-align: center;
      justify-content: center;
      font-family: 'Source Sans Pro', sans-serif; 
      /*POUR BOUTON PAS TOUCHER*/
      position: absolute; 
      left: 50%;
      transform: translateX(-50%);
}
.text{
  margin-bottom:60px ;
}

  
   /*******aboutfin*******/
  .col{
    padding-right: 20px;
    padding-left: 20px ;
    
      }
 a{
    text-align: center;/*lien video*/
    color: #ff6666;
    text-decoration: none;
 }
 #footer{
     background-color: black;
     color: white;
 }
 .footer>li{
   color: white;
   text-decoration: none;
 }
 .footer>li>a{
  color: white;
  text-decoration: none;
 }
